* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f0f0f0;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
}

.card {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: none;
}

.card.active {
    display: block;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.card>div {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.toggle_shift {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 4px;
}

.toggle_shift>span {
    padding: 12px 24px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.toggle_shift>span.active {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
}

.text_center {
    align-items: center;
}